@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

:root {
  --main-black: rgb(9, 9, 9);
  --main-white: rgb(253, 253, 253);
  --accent-gray: rgb(186, 186, 186);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  background-color: var(--main-black);
  color: var(--main-white);

  font-family: 'Montserrat', sans-serif;
  
  -ms-overflow-style: none;
}

/*  ANIMATIONS  */

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes slideInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*  GENERAL STYLES  */

p { line-height: 1.5rem; }

a { 
  color: var(--accent-gray); 
  transition: color 1s;
}

a:hover, a:active, .active { color: var(--main-white);
}

.active {
  font-style: italic;
}

.btn, .filters-narrow {
  background-color: var(--main-black);
  color: var(--accent-gray);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: .80rem;
  text-align: center;
  padding: .50rem;
  margin: 1rem;
  border: 1px solid var(--accent-gray);
  border-radius: 4px;
  transition: color 0.5s;
}

.filters-narrow, .btn, input[type=submit], .nav-btn {cursor: pointer;}

.btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
  transition: 0.5s;
}

.btn:focus {
  outline: none;
  background-color: var(--main-white);
  border: 1px solid var(--main-white);
  color: var(--main-black)
}

.pg-title {
  font-size: 1.7rem;
  margin: 3rem 0 1rem;
}

.main-container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
}

.main-container, .bg-image {
  animation: fadeIn 0.5s;
}


/*  NAVIGATION BAR */

nav {
  width: 100vw;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: var(--main-black);
  color: var(--accent-gray);
  text-transform: uppercase;
  font-weight: 200;

  position: fixed;
  top: 0;

  z-index: 5;
}

.nav-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 16px;
}

.nav-btn span {
  width: 25px;
  height: 1.5px;
  background-color: var(--accent-gray);
  transition: transform 0.3s ease-in-out;
}

.nav-btn.open span:nth-child(2) {
  opacity: 0;
}

.nav-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-big {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.nav-small {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  justify-items: center;
}

/*  FOOTER  */

.footer {
  background-color: var(--main-black);
  text-transform: uppercase;
  font-weight: 400;
  font-size: .70rem;
  text-align: center;
  color: var(--accent-gray);
  padding: 1rem;
}


/*  PAGINA INICIO  */

.main-title, .main-subtitle{ 
  font-weight: 600;
  font-size: 4rem;
  padding-top: 8rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-title {
  animation: fadeIn 2s ease-in;
}

.main-subtitle {
  font-size: 2rem;
  padding: 0;
  font-weight: 200;
  font-style: italic;

  animation: fadeIn 3s ease-in;
}

.bg-image {
  height: 80vh;
  background: rgb(5, 5, 5) url('/assets/images/iniciobg.png') no-repeat center center;
  background-size: cover;
  mask-image: linear-gradient(black, transparent);
  z-index: -5;
  position: relative;
}

@media screen and (max-width: 400px){
  .main-title { 
    font-size: 3rem;
  }
}


/*  PAGINA SOBRE  */

.software-list {
  margin-top: 3rem;
  text-align: center;
  
}

.software > * {
  display: inline;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .8rem;
  padding: .2rem;
}

.icon {
  width: 20px;
  display: inline;
  position: relative;
  top: 0.4em
}


/*  PROJETOS  */

.project-list {
  max-width: 600px;
}


.project-card {
  margin: 1rem;
  display: flex;
  gap:1rem;
}

.project-card img {
  width: 200px;
  border-radius: 6px;
}

.project-card h1 {
  text-transform: uppercase;
}

.project-card p {
  font-size: .8rem;
  margin-top: .1rem;
}

.card-software {
  text-transform: capitalize;
  font-style: italic;
}

.card-link {
  color: var(--accent-gray);
  text-transform: uppercase;
  text-decoration: underline;
  font-style: italic;
  font-weight: 400;
  padding: .50rem;
  transition: color 0.5s;

}

.card-link:hover {
  color: var(--main-white);
  transition: 0.5s;
}

.filters-wide, .filters-narrow-container {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 650px){
  .project-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-card .card-text {
    width: 75%;
  }
 
}

.projeto-video {
  display: flex;
  justify-content: center;
}

.video {
  max-width: 100%;
  
}


/*  CONTACTO  */

.contacto-form {
  display: flex;
  justify-content: center;

}

form {
  width: 75%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type='text'], textarea {
  resize: none;
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--accent-gray);
  padding: .8rem;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
}

input[type='text']:focus, textarea:focus {
  outline: none;
  border: 1.8px solid var(--accent-gray);
}

textarea {
  height: 200px;
}

input[type=submit] {
  background-color: var(--accent-gray);
  align-self: center;
  text-align: center;
  width: min-content;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .7rem;
  border-radius: 8px;
  transition: color 0.5s;
} 

input[type=submit]:disabled {
  background-color: #626262;
  color: #282828;
}

input[type=submit]:focus:enabled, input[type=submit]:hover:enabled {
  background-color: var(--main-white);
  outline: none;
  transition: 0.5s;
}

